body {
  background-color: black;
  margin-top: 20px;
}
#page {
  width: 512px;
  margin: 0 auto;
}
#info {
  overflow: auto;
}
#sound {
  float: right;
}
#sound a {
  background-image: url("../images/audio_icon.gif");
  background-position: 0 5px;
  background-repeat: no-repeat;
  padding-left: 19px;
  
  color: #00DEDE;
  font-family: Impact,Charcoal,sans-serif;
  font-size: 14px;
  text-decoration: none;
}
