body {
  background-color: black;
  color: #00DEDE;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}
strong {
  color: #E800E8;
}
#page {
  width: 512px;
  margin: 0 auto;
}
#info {
  margin-bottom: 7px;
  overflow: auto;
}
#sound {
  float: right;
}
#sound a {
  background-image: url("../images/audio_icon.gif");
  background-position: 0 5px;
  background-repeat: no-repeat;
  padding-left: 19px;
  text-decoration: none;
  color: #00DEDE;
}
#app {
  height: 387px;
  position: relative;
  width: 512px;
}
#loading {
  color: #E800E8;
  font-size: 18px;
  left: 13%;
  position: absolute;
  text-align: center;
  top: 46%;
}
#loading small {
  color: #00DEDE;
  font-size: 12px;
}
#help {
  margin-top: 35px;
  text-align: right;
}
